
        .text-uppercase {
            text-transform: uppercase;
        }
        .button{
            background-color: yellow;
            border-radius: 10rem;
            padding: 10px 20px;
            border-style: solid;
            width: 100px;
            margin: 10px;
            display: inline-block;
        }

        a {
           text-decoration: none;
        }
 
        input {
            margin-top: 10px;
        }

        .my_bg{
            background-color: #ed08b7;
        }
        footer {
            background-color: #ed08b7; 
            text-align: center; 
            color: aliceblue;
            padding: 10px;
            }
         
        .my-circle  {
            border-radius: 100%;
            width: 100px;
            height: 100px;
            margin: auto ;
        }  

        /* ------------------------------------------------------------Start Members section-------------------------------------------*/
.member {
    background-color: #586D80;
    padding: 20px;
}

.text-h1 {
color: #495AB7;
text-align: center;
margin-top: 40px;
text-transform: uppercase;
}
.text-parem{
color: black;
text-align: center;
}

.member-box {
width: 1100px;
background-color: #fafafa;
margin: auto;
box-shadow: 0px 0px 8px 2px lightblue;
border-radius: 20px;
padding: 1px 40px 40px;
}

/*table {
width: 80%;
border: 1px solid black;
border-collapse: collapse;
margin: auto;
}

th, td {
border: 1px solid black;
}

th {

}

td {

} */
