
  @import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

body {
    background-color: #D193EC;
    margin: 0;
    padding: 0;
    font-family: 'Kavoon', serif;
}
/* Start Header */
header {
      background-color: #6C198F;
      
}

nav {
    /* border: 2px solid rgb(52, 255, 2); */
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo {
    /* border: 2px solid #00ff00; */
    display: flex;
    width: 300px;
    align-items: center;
    margin-left: 10px;
}

.h3-title {
    margin-left: 0px;
}
.h1-title{
    margin-left: 10px;
    color: aliceblue;
    text-transform: uppercase;
}    

.menu{
    /* border: 2px solid #00ff00; */
        list-style: none;
        display: flex;
    }

li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: aliceblue;
}
/* End Header */

/* Start Main Content */
.main-content {
   /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.box {
    background-color: aliceblue;
    padding: 20px;
    margin: 20px;
}

.image {
    width: 100%;
}

.button {
    background-color: #D193EC;
    border: none;
    color: black;
    border-radius: 12px;
    padding: 8px 24px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
/* End Main Content */
.text-parem {
    font-weight: 100;
}
/* Start Footer */
footer {
    background-color: #6C198F;
    text-align: center;
    color: aliceblue;
    padding: 3px;
}
/* End Footer */